<!DOCTYPE html>

<html>
  <head>
    <title>Request Header Parser</title>
    <link rel="shortcut icon" href="../public/avatar.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Awesome Fonts -->
    <script
      src="https://kit.fontawesome.com/51238edcb8.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container centerthis">
      <h2 class="tie">API Project: Request Header Parser Microservice</h2>
      <h3>User Story:</h3>
      1. I can get the IP address, preferred languages (from header
      <code>Accept-Language</code>)<br />
      and system infos (from header <code>User-Agent</code>) for my device.

      <h3>Example Usage:</h3>
      <p>
        <a href="http://localhost:3000/api">[url]/api/whoami</a>
      </p>

      <h3>Example Output:</h3>
      <p>
        <code
          >{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br />"software":"Mozilla/5.0
          (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101
          Firefox/50.0"}</code
        >
      </p>
    </div>
    <div class="footer">
      <div class="centerthis">
        <a href="https://www.linkedin.com/in/osman-s-hasan-493001a1/">
          <span><i class="fab fa-linkedin-in"></i></span>
        </a>
        <a href="https://github.com/osman-s">
          <span><i class="fab fa-github"></i></span>
        </a>
      </div>
    </div>
  </body>
</html>
